*{
    margin: 0;
    padding:0;
    text-align: center;
    align-items: center;
}

h1{
    background-color:#2F4858;
    color: white;
    height: 5rem;
    line-height: 5rem;
    font-size: 3.5rem;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    
} 

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    
}

.image:hover{
    cursor: pointer;
    background-color: rgb(77, 75, 75);
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    gap: 5rem;
    font-size: 2.5rem;
}

.msg-container{
    margin-top: 3rem;
}
#msg{
   
    font-size: 2rem;
    background-color:black;
    color:white;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
}

.restart-game{
    margin-top: 2.5rem;
}

#reset:hover{
    cursor: pointer;
}

#reset{
    
    font-size: 1.5rem;
    /* font-weight:bold; */
    background-color:rgb(34, 182, 251);
    color:white;
    border: none;
    padding: 0.5rem; 
    border-radius:1rem; 
}
